<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>New Ninja</h1>
        <form action="/ninjas/new/process" method="POST">
            <div class="row mb-3">
                <label for="selectCity" class="col-sm-2 col-form-label">Dojo:</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" name="dojo">
                        {% for one_dojo in all_dojos %}
                        <option value="{{one_dojo.id}}">{{one_dojo.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputfname" class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputfname" name="fname">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputlname" class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputlname" name="lname">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputAge" class="col-sm-2 col-form-label">Age:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAge" name="age">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
        <a href="/dojos">Home</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>